<div class="home-banner">
  <div class="container">
    <h1>Save any kind of movies</h1>
  </div>
</div>

<div class="container mt-3">
  <%# <div class="d-flex justify-content-between mb-3"> %>
    <%# <h3>My Lists</h3> %>
    <%# <%= link_to new_list_path, class: 'btn btn-secondary align-middle' do %>
      <%# <i class="fas fa-plus"></i> %>
      <%# New movie list %>
    <%# <% end %>
  <%# </div> %>

  <div class="row my-3 align-items-center justify-content-between">
    <div class="col-sm-12 col-md-6">
      <h3 class="m-0">My lists</h3>
    </div>
    <div class="col-sm-12 col-md-6">
      <%= render 'form', list: @list %>
    </div>
  </div>

  <div class="cards mb-3">
    <% @lists.each do |list| %>
      <% unless list.image.attached? %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1512149074996-e923ac45be6a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=3300&q=80)">
      <% else %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path list.image.key, height: 300, crop: :fill %>')">
      <% end %>
        <%= link_to list.name , list, class: 'text-white' %>
      </div>
    <% end %>
  </div>
</div>
